<%= form_for(@debt) do |f| %>
  <% if @debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debt.errors.count, "error") %> prohibited this debt from being saved:</h2>

      <ul>
      <% @debt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
   <div class="field">
    <%= f.label :debitor_id %><br />
    <%= f.collection_select :debitor_id, User.all, :id, :nickname, { selected: @debt.debitor_id}, { multiple: false } %>
   </div>
   <div class="field" style="display:none">
    <%= f.label :creditor_id %><br />
    <%= f.number_field :creditor_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :cleared %><br />
    <%= f.check_box :cleared %>
  </div>
 <div class="field">
    <%= f.label :ex_date %><br />
    <%= f.date_select(:ex_date,:start_year => Time.now.year,:order => [:day,:month,:year],:include_blank => true,:use_month_numbers => true,:default => 2.days.from_now) %>
  </div>
  <div class="field">
    <p style="color:red">The following data types are allowed: JPG,JPEG,PNG,PDF</p>
    <%= f.label :bill %><br />
    <%= f.file_field :bill %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
