<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @debt.value %>
</p>

<p>
  <b>Description:</b>
  <%= @debt.description %>
</p>

<p>
  <b>Debitor:</b>
  <%= @debt.debitor.nickname %>
</p>

<p>
  <b>Creditor:</b>
  <%= @debt.creditor.nickname %>
</p>

<p>
  <b>Cleared:</b>
  <%= @debt.cleared %>
</p>

<p>
  <b>Confirmed:</b>
  <%= @debt.confirmed %>
</p>
<p>
  <b>Bill:</b>
	<div>
		<%=  if @debt.bill != nil
			if @debt.bill_type == "application/pdf"
				link_to 'Get_File', get_file_path(@debt)
			else
				
				image_tag(get_file_path(@debt),:size => "300x200")
			end 
	     	     end
		%>
	</div>
</p>
<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
